
Client/.vs/Client.csproj.dtbcache.json
Client/.vs/Client/FileContentIndex/697c9a3d-daa2-44b6-a2d3-87d774a58bd4.vsidx
Client/.vs/Client/v17/TestStore/0/000.testlog
Client/.vs/Client/v17/TestStore/0/testlog.manifest
Client/.vs/slnx.sqlite
Client/.vs/VSWorkspaceState.json
